<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CoderFly</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/bee.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A tight-knit community of pretty fly coders. We build anything from simple brochure sites,
    Integrated web apps, HTML5/Javascript apps and are open to collaboration. We strive to uphold an agile process from start to finish.
    Contact us by filling out the form below.">
    <meta name="author" content="CoderFly">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.png">
  </head>

    <body>
        <div class="container-narrow">
            <div class="jumbotron">
                <h1>Coder <img class="bee" src="{{ STATIC_URL }}img/bee.jpg" width="150" /></h1>
                <p class="lead">A tight-knit community of pretty fly coders</p>
            </div>
            <hr>
            <div id="about" class="jumbotron">
                <div type="button" class="btn btn-large btn-success">Brochure sites</div><br/>
                <div type="button" class="btn btn-large btn-success">Integrated web applications</div><br/>
                <div type="button" class="btn btn-large btn-success">Agile development</div><br/>
                <div type="button" class="btn btn-large btn-success">Collaboration</div>
            </div>
            <hr>
            <div id="contact" class="jumbotron">
                <p class="lead">Contact us to see what we can do for you</p>
                <form action="." method="post" class="form-horizontal">{% csrf_token %}
                    <div class="control-group">
                        <div class="controls name">
                            <input name="name" type="text" id="inputName" placeholder="Name">
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls email">
                            <input name="email" type="text" id="inputEmail" placeholder="Email">
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls message">
                            <textarea class="textbox" rows="5" name="message" placeholder="Message"></textarea>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-info submit" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
                <br/>
            </div>
            <hr>
            <div id="footer" class="jumbotron">
              Coderfly &copy; 2013
            </div>
        </div>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/underscore.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-transition.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-scrollspy.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-popover.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-carousel.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.js"></script>

    <script>
        $(document).ready(function() {
            $("form").submit(function(event) {
                $(".error").removeClass("error");
                event.preventDefault();
                var data = $(this).serialize();
                $.ajax({
                    type: "POST",
                    url: "/",
                    data: data,
                    success: function(data) {
                        if (data.email_failed) {
                            alert("An error occured while trying to send an email. Please try again later.");
                        } else {
                            if (data.success) {
                                $("form").fadeOut(300, function() {
                                   $(this).html("Thank you for your message. We will get back to you shortly.");
                                   $(this).fadeIn();
                               });
                            } else {
                                _.map(data.error_fields, function(value, key) {
                                    $("."+key).parent().addClass("error");
                                });
                            }
                        }
                    },
                    dataType: "json"
                });
                return false;
            });
        });

         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-38938534-1']);
         _gaq.push(['_trackPageview']);
          (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

    </script>
  </body>
</html>
