body {
    padding-bottom: 40px;
}

.navbar-inner {
    min-height: 30px;
}

.navbar .nav>li>a {
    padding: 5px 10px 5px;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 940px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
   margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 20px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
    vertical-align: bottom;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.bee {
}

form {
    margin: 0 auto;
    height: 280px;
}

#about div {
    margin: 10px;
    font-size: 18px;
    font-weight: 200;
}

.form-horizontal .controls {
    margin-left: 0;
}

textarea {
    width: 300px;
}

textarea {
    padding: 10px;
}

ul#nav {
    list-style: none;
    float: right;
    width: 100%;
}

#nav li {
    float: right;
    padding: 0 10px;
}
